<div class="image-list">
  <div class="navigation">
    <h2>
      <% if (navigation.current) { %>
        <%= navigation.current.name %>
        <a href="/">&nbsp;&nbsp;x</a>
      <% } %>
    </h2>
    <% if (navigation.previous) { %>
      <a href="<%= navigation.previous.url %>#content">
        <div class="previous">
          <%= navigation.previous.name %>
        </div>
      </a>
    <% } %>
    <% if (navigation.next) { %>
      <a href="<%= navigation.next.url %>#content">
        <div class="next">
          <%= navigation.next.name %>
        </div>
      </a>
    <% } %>
    <span class="image-counter">
      <%= images.length %><% print ((images.length == 1) ? " kuva" : " kuvaa") %>
    </span>
  </div>
  <% _.each(images, function(image) { %>
  <div style="display:none;">
    <div class="photo">
      <img class="photo" onload="javascript:fadeIn(this);" src="<%= image.url %>">
    </div>
    <div class="description">
      <% if (image.description) { %>
        &ldquo;<%= image.description %>&rdquo;
      <% } %>
    </div>
  </div>
  <% }); %>
</div>
